<div class="list row">
    <div class="list-item col-lg-6 col-sm-12 col-xs-12" *ngFor="#item of _items">
        <div class="well">
            <div class="row">
                <div class="col-lg-6">
                    <media-item [source]="item.titleMedia"></media-item>
                </div>
                <div class="col-lg-6">
                    <a class="h4" (click)="viewItem(item._id)">{{item.title}}</a>
                    <div class="small text-muted">Добавлено {{item.created | dateMoment:'DD.MM.YYYY'}}</div>
                    <div class="details small">
                        {{item.titleDetails}}
                    </div>
                    <div class="list-item-button-container text-right">
                        <button class="btn btn-primary btn-sm" (click)="editItem(item._id)">Редактировать</button>
                        <button class="btn btn-primary btn-sm" (click)="deleteItem(item._id)">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<list-pager [items]="_items" [itemsTotal]="_itemsTotal"
            [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (onPageChange)="_onPageChange($event)" >
</list-pager>

