<page-header [title]="header.title" [controls]="header.controls"></page-header>

<div class="list row">
    <div class="list-item col-lg-6 col-sm-12" *ngFor="#item of news">
        <div class="well">
            <div class="row">
                <div class="col-lg-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe [src]="item.titleMedia" class="embed-responsive-item"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <a class="h4" (click)="openNewsDetails(item._id)">{{item.title}}</a>
                    <div class="small text-muted">Добавлено {{item.created | dateMoment:'DD.MM.YYYY'}}</div>
                    <div class="details small">
                        {{item.titleDetails}}
                    </div>
                    <div class="list-item-button-container text-right">
                        <button class="btn btn-primary btn-sm" (click)="openNewsEdit(item._id)">Редактировать</button>
                        <button class="btn btn-primary btn-sm">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<list-pager [source]="news" [itemsPerPage]="1">
    <!--<div class="list row">-->
        <!--<div class="list-item col-lg-6 col-sm-12" *ngFor="#item of items">-->
            <!--<div class="well">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-6">-->
                        <!--<div class="embed-responsive embed-responsive-4by3">-->
                            <!--<iframe [src]="item.titleMedia" class="embed-responsive-item"></iframe>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-lg-6">-->
                        <!--<a class="h4" (click)="openNewsDetails(item._id)">{{item.title}}</a>-->
                        <!--<div class="small text-muted">Добавлено {{item.created | dateMoment:'DD.MM.YYYY'}}</div>-->
                        <!--<div class="details small">-->
                            <!--{{item.titleDetails}}-->
                        <!--</div>-->
                        <!--<div class="list-item-button-container text-right">-->
                            <!--<button class="btn btn-primary btn-sm" (click)="openNewsEdit(item._id)">Редактировать</button>-->
                            <!--<button class="btn btn-primary btn-sm">Удалить</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</list-pager>

