<h3>
    Мы есть!
</h3>
<div class="well">
    <p>
        Студия детской анимации "Мы есть!" была создана в январе 2010 года.
        Студия является ВОЛОНТЕРСКОЙ организацией.
        Наши спонсоры - Международное благотворительное общественное объединение «ЮниХелп»
        <a href="http://opeka.by">opeka.by</a>
    </p>
    <p>
        Расписание занятий:
    </p>
    <p>
        суббота - ГУ Республиканский научно-практический центр детской онкологии и гематологии (Боровляны)
    </p>
    <p>
        воскресенье - ГУ Психоневрологический интернат (Новинки) +37529 6897970 Маша Иванова
    </p>
</div>