<div class="well">
    <form action="{{postAction}}" method="post" class="form-horizontal">
        <fieldset class="row">
            <div class="text-left">{{> errorMessage}}</div>


            <div class="col-xs-12">
                <div class="text-right form-group">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                    <a class="btn btn-default" href="/contacts" type="submit">Отмена</a>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12">
                <div class="form-group text-center">
                    <img src="http://cs623430.vk.me/v623430567/267a1/xnRkLd_bqlw.jpg" class="img-thumbnail">
                </div>
                <div class="form-group">
                    <input class="center-block" type="file">
                </div>
            </div>

            <div class="col-lg-8 col-xs-12">
                <input id="fakeemail" name="fakeemail" type="text" hidden="hidden">
                <input id="fakepass" name="fakepass" type="password" hidden="hidden">

                <div class="form-group required">
                    <label class="col-xs-4" for="firstName">Имя</label>
                    <input class="col-xs-6" id="firstName" name="firstName" type="text" required value="{{contact.firstName}}">
                </div>

                <div class="form-group required">
                    <label class="col-xs-4" for="lastName">Фамилия</label>
                    <input class="col-xs-6" id="lastName" name="lastName" type="text" required value="{{contact.lastName}}">
                </div>

                <div class="form-group">
                    <label class="col-xs-4" for="phone">Телефон</label>
                    <input class="col-xs-6" id="phone" name="phone" type="text" value="{{contact.phone}}">
                </div>

                <div class="form-group required">
                    <label class="col-xs-4" for="email">Эл. почта</label>
                    <input class="col-xs-6" id="email" name="email" type="text" required value="{{contact.email}}">
                </div>

                <div class="form-group required">
                    <label class="col-xs-4" for="password">Пароль</label>
                    <input class="col-xs-6" id="password" name="password" type="password" required >
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        {{#contact.isContactsVisible}}
                        <input id="isContactsVisible" name="isContactsVisible" type="checkbox"  checked>
                        {{/contact.isContactsVisible}}
                        {{^contact.isContactsVisible}}
                        <input id="isContactsVisible" name="isContactsVisible" type="checkbox">
                        {{/contact.isContactsVisible}}
                        <label for="isContactsVisible">Показать контактные данные для связи</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        {{#contact.isVisibleForAll}}
                        <input id="isVisibleForAll" name="isVisibleForAll" type="checkbox" checked>
                        {{/contact.isVisibleForAll}}
                        {{^contact.isVisibleForAll}}
                        <input id="isVisibleForAll" name="isVisibleForAll" type="checkbox">
                        {{/contact.isVisibleForAll}}
                        <label for="isVisibleForAll">Показать всем (секция "О Нас")</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="info">Что-нибудь интересное</label>
                        <div class="row">
                            <textarea class="col-xs-12" id="info" name="info"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>