<div class="well">
    <form action="{{postAction}}" method="post" class="form-horizontal" enctype='multipart/form-data'>
        <fieldset class="row">
            <div class="text-left">{{> errorMessage}}</div>


            <div class="col-xs-12">
                <div class="text-right form-group">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                    <a class="btn btn-default" href="/contacts" type="submit">Отмена</a>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12">
                <div class="form-group text-center">
                    <img src="{{contact.photoUrl}}" class="img-thumbnail">
                </div>
                <div class="form-group">
                    <input class="center-block" type="file" name="image" id="image">
                </div>
            </div>

            <div class="col-lg-8 col-xs-12">
                <input id="_id" name="_id" type="text" hidden="hidden" value="{{contact._id}}">
                <input id="fakeemail" name="fakeemail" type="text" hidden="hidden">
                <input id="fakepass" name="fakepass" type="password" hidden="hidden">

                <div class="form-group required">
                    <label class="col-xs-4" for="firstName">Имя</label>
                    <input class="col-xs-6" id="firstName" name="firstName" type="text" required value="{{contact.firstName}}">
                </div>

                <div class="form-group required">
                    <label class="col-xs-4" for="lastName">Фамилия</label>
                    <input class="col-xs-6" id="lastName" name="lastName" type="text" required value="{{contact.lastName}}">
                </div>

                <div class="form-group">
                    <label class="col-xs-4" for="phone">Телефон</label>
                    <input class="col-xs-6" id="phone" name="phone" type="tel" value="{{contact.phone}}">
                </div>

                <div class="form-group required">
                    <label class="col-xs-4" for="email">Эл. почта</label>
                    <input class="col-xs-6" id="email" name="email" type="email" required value="{{contact.email}}">
                </div>

                {{^contact}}
                <div class="form-group required">
                    <label class="col-xs-4" for="password">Пароль</label>
                    <input class="col-xs-6" id="password" name="password" type="password" required >
                </div>
                {{/contact}}

                <div class="form-group">
                    <div class="col-xs-12">
                        {{#contact.isContactsVisible}}
                        <input id="isContactsVisible" name="isContactsVisible" type="checkbox"  checked>
                        {{/contact.isContactsVisible}}
                        {{^contact.isContactsVisible}}
                        <input id="isContactsVisible" name="isContactsVisible" type="checkbox">
                        {{/contact.isContactsVisible}}
                        <label for="isContactsVisible">Показать контактные данные для связи</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        {{#contact.isVisibleForAll}}
                        <input id="isVisibleForAll" name="isVisibleForAll" type="checkbox" checked>
                        {{/contact.isVisibleForAll}}
                        {{^contact.isVisibleForAll}}
                        <input id="isVisibleForAll" name="isVisibleForAll" type="checkbox">
                        {{/contact.isVisibleForAll}}
                        <label for="isVisibleForAll">Показать всем (секция "О Нас")</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label class="col-xs-3" for="info">Что-нибудь интересное</label>
                        <textarea class="col-xs-9" id="info" name="info">{{contact.info}}</textarea>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<script>
    function handleFileSelect(evt) {
        var preview = document.querySelector('img');
        var file    = document.getElementById('image').files[0];
        var reader  = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }

    document.getElementById('image').addEventListener('change', handleFileSelect, false);
</script>