.main-menu > a.btn {
    font-size: 18px;
    margin: 12px 12px 0 0;
}

.list-item-button-container{
    margin: 12px 0;
}

.span-50 {
    width: 50%;
    display: inline-block;
}

p > [class*='span-'].right{
    float: right;
    margin-left: 6px;
}

p > [class*='span-'].left{
    float: left;
    margin-right: 6px;
}

.video > .zoom-in{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.video > .zoom-in > div{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 800;
    font-size: 2em;
    color: white;
}

.video:hover > .zoom-in{
    display: block;
}

.media-zoom{
}

.media-zoom > .media-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}

.media-zoom > .media-overlay > .media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border: 0;
}