.main-menu > a.btn {
    font-size: 18px;
    margin: 12px 12px 0 0;
}

.list-item-button-container{
    margin: 12px 0;
}

.span-50 {
    width: 50%;
    display: inline-block;
}

p > [class*='span-'].right{
    float: right;
    margin-left: 6px;
}

p > [class*='span-'].left{
    float: left;
    margin-right: 6px;
}

.media-preview{
    position: relative;
}

.media-preview > .zoom-in{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    top: 0;
}

.media-preview > .zoom-in > div{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 800;
    font-size: 2em;
    color: white;
}

.media-preview:hover > .zoom-in{
    display: block;
}

.media-zoom{
}

.media-zoom > .media-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}

/*.media-zoom > .media-overlay > .media*/
.media-zoom > .media{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95vmin;
    text-align: center;
    border: 6px solid white;
    border-bottom: 30px solid white;
    border-top: 30px solid white;
    overflow: visible;
    z-index: 1002;
}

/*.media-zoom > .media-overlay > .media.video*/
.media-zoom > .media.video{
    width: 95vmin;
}

/*.media-zoom > .media-overlay > .media .zoom-out*/
.media-zoom > .media .zoom-out{
    position: absolute;
    top: -26px;
    font-size: 20px;
    right: 0;
    cursor: pointer;
}

.list-item-heading{
    margin: 0 0 12px 0;
}

.list-item-heading.link{

}

.list-item-heading.link:hover{
    cursor: pointer;
    color: #008cba;
}

.news.details > .news-text{
    display: inline-block;
    margin-bottom: 36px;
}

.news.details > .news-media{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px;
    margin: 6px 0;
}

.media-controls{
    position: fixed;
    font-size: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;
}

.media-controls > .control{
    position: absolute;
    width: 50vw;
    z-index: 1001;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.media-controls > .control > span{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1001;
    color: black;
}

.media-controls > .prev > span,
.media-controls > .prev{
    left: 0
}

.media-controls > .next > span,
.media-controls > .next{
    right: 0
}
