<div class="embed-responsive embed-responsive-4by3 media-preview">
    <iframe [src]="media.normalizedSource" class="embed-responsive-item"></iframe>
    <div class="zoom-in" (click)="zoomIn()">
        <div>
            Развернуть
        </div>
    </div>
</div>

<div class="media-zoom" *ngIf="!preview">
    <div class="media-overlay">
    </div>

    <div class="media video">
        <div class="embed-responsive embed-responsive-4by3 ">
            <iframe [src]="media.normalizedSource" class="embed-responsive-item"></iframe>
        </div>

        <div class="zoom-out" (click)="zoomOut()">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
</div>
