<page-header [title]="header.title" [controls]="header.controls"></page-header>

<div class="news details">
    <p class="text-muted">
        Добавлено {{item.created | dateMoment:'DD.MM.YYYY'}}
    </p>

    <div class="news-text">
        <p>
            <span class="span-50 left">
                <media-item [source]="item.titleMedia"></media-item>
            </span>

            {{item.titleDetails}}
        </p>
    </div>

    <div class="news-media" *ngIf="item.images">
        <h4>
            Ещё фото
        </h4>
        <media-container class="row">
            <image-item *ngFor="#image of item.images" [source]="image" class="col-lg-3"></image-item>
        </media-container>
        <image-upload></image-upload>
    </div>

    <div class="news-media" *ngIf="item.videos">
        <h4>
            Ещё видео
        </h4>
        <media-container class="row">
            <video-item *ngFor="#video of item.videos" [source]="video" class="col-lg-3"></video-item>
        </media-container>
    </div>
</div>