<page-header [title]="header.title" [controls]="header.controls"></page-header>

<div class="details news">
    <div class="text-muted small">
        Добавлено {{item.created | dateMoment:'DD.MM.YYYY'}}
    </div>

    <div class="news-text">
        <p>
            <span class="span-50 right">
                <span class="embed-responsive embed-responsive-4by3">
                    <iframe [src]="item.titleMedia" class="embed-responsive-item"></iframe>
                </span>
            </span>
            {{item.titleDetails}}
        </p>
    </div>

    <div class="news-photo">

    </div>

    <div class="news-video">

    </div>
</div>