<div class="well">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="{{mult.link}}" class="embed-responsive-item"
                        allowfullscreen="allowfullscreen"
                        mozallowfullscreen="mozallowfullscreen"
                        msallowfullscreen="msallowfullscreen"
                        oallowfullscreen="oallowfullscreen"
                        webkitallowfullscreen="webkitallowfullscreen">
                        </iframe>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <h3>{{mult.name}} ({{mult.formattedDate}})</h3>
            <h5>Над фильмом работали: {{mult.participants}}</h5>
            <br>
            <p>{{mult.description}}</p>
        </div>
    </div>
</div>