<div class="well">
    <form action="{{postAction}}" method="post" class="form-horizontal" enctype='multipart/form-data'>
        <fieldset class="row">
            <div class="text-left">{{> errorMessage}}</div>


            <div class="col-xs-12">
                <div class="text-right form-group">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                    <a class="btn btn-default" href="/mult" type="submit">Отмена</a>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12">
                <div class="form-group text-center">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe id="link" src="{{mult.link}}" class="embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-xs-12">
                <input id="_id" name="_id" type="text" hidden="hidden" value="{{mult._id}}">

                <div class="form-group required">
                    <label class="col-xs-3" for="name">Название</label>
                    <input class="col-xs-6" id="name" name="name" type="text" required value="{{mult.name}}">
                </div>


                <div class="form-group required">
                    <label class="col-xs-3" for="originalLink">Ссылка</label>
                    <input class="col-xs-6" type="text" name="originalLink" id="originalLink" required value="{{mult.originalLink}}">
                </div>

                <div class="form-group">
                    <div>
                        <label class="col-xs-3" for="participants">Участники</label>
                        <textarea class="col-xs-9" id="participants" name="participants">{{mult.participants}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label class="col-xs-3" for="description">Что-нибудь про мульт: </label>
                        <textarea class="col-xs-9" id="description" name="description">{{mult.description}}</textarea>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<script>
    function handleVideoSourceChange(e){
        var link = e.srcElement.value;
        var id = '';
        link = link.replace(/(>|<)/gi,'').split(/(vi\/|v=|\/v\/|youtu\.be\/|\/embed\/)/);
        if(link[2] !== undefined) {
            id = link[2].split(/[^0-9a-z_\-]/i);
            id = id[0];
        }
        else {
            id = link;
        }

        document.getElementById('link').setAttribute('src','http://www.youtube.com/embed/'+id);
    }
    document.getElementById('originalLink').addEventListener('change', handleVideoSourceChange, false);
</script>